<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../partial1/dash-head')%>
</head>
<body>
  <%-include('../partial1/dash-nav')%>

  <%- include('../partial1/dash-info')%>

  <%- include('../partial1/dash-input')%>

  <%- include('../partial1/dash-loading')%>

  <%- include('../partial1/dash-confirmed')%>

  <script src="order.js"></script>
</body>
</html>